*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
 body, html {
     margin:0;
     padding: 0;
     top: 0;
 }


.navbar {
    width: 100vw;
    height: 12vh;
    position: fixed;
    background-color: white;

}



.navbar ul li {
    list-style-type: none;
    display: inline-block;
    transition: 0.7s all;
    font-family: "Poppins", sans-serif;
    font-size: 24px;
    padding: .5em;

}

.nav-item {
    margin-left: 3em;
}

.navbar ul li a {
    text-decoration: none;
    color: #3F3D56;
}

.navbar ul li a:hover {
    transition: 0.7s ease-in-out;
    border: 2px solid #081839;
    border-radius: 5px;
}

/* ============= BANNER ================ */

header {
	background-image: url('/img/banner.jpg');
	background-size: cover;
	background-repeat: no-repeat;
    background-attachment: fixed;
    height: 700px;
}

.title {
    padding-top: 7em;
    text-align: left;
    font-family: "Poppins", sans-serif;
    font-weight: 600;

}

.subtitle {
    margin-top: 2em;
    text-align: left;
    font-family: "Poppins", sans-serif;
    font-size: 24px;
}

.arrow {
    text-decoration: none;
    color: white;
}

.arrow:hover {
    text-decoration: none;
    transition: 0.7s ease-in-out;
    color: #081839;
}


.bg-darker {
    background-color: #3C3D4F;
    height: 130px;
    align-items: center;
}

.quote {
    color: white;
    font-family: "Poppins", sans-serif;
    font-size: 30px;
    text-align: center;
    padding-top: 2px;
}