/*General Styling*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
 body, html {
     margin:0;
     padding: 0;
     top: 0;
 }


.navbar {
    width: 100vw;
    height: 12vh;
    position: fixed;
    background-color: white;

}



.navbar ul li {
    list-style-type: none;
    display: inline-block;
    transition: 0.7s all;
    font-family: "Poppins", sans-serif;
    font-size: 24px;
    padding: .5em;

}

.nav-item {
    margin-left: 3em;
}

.navbar ul li a {
    text-decoration: none;
    color: #3F3D56;
}

.navbar ul li a:hover {
    transition: 0.7s ease-in-out;
    border: 2px solid #081839;
    border-radius: 5px;
}

/* ============= BANNER ================ */

header {
    position: relative;
	background-image: url('/img/banner.jpg');
	background-size: cover;
	background-repeat: no-repeat;
    background-attachment: fixed;
    height: 700px;
}

.title {
    padding-top: 7em;
    text-align: left;
    font-family: "Poppins", sans-serif;
    font-weight: 600;

}

.subtitle {
    margin-top: 2em;
    text-align: left;
    font-family: "Poppins", sans-serif;
    font-size: 24px;
}

.arrow {
    text-decoration: none;
    color: white;
}

.arrow:hover {
    text-decoration: none;
    transition: 0.7s ease-in-out;
    color: #081839;
}


.bg-darker {
    background-color: #3C3D4F;
    height: 130px;
    align-items: center;
}

.quote {
    color: white;
    font-family: "Poppins", sans-serif;
    font-size: 30px;
    text-align: center;
    padding-top: 2px;
}

.vec {
    padding-top: 8em;
    padding-left: 2em;
}

.bare {
    padding-top: 20em;
}

.bare h3, h2, p {
    text-align: center;
}

.bare h3 {
    font-size: 10px;
}

.bare h2 {
    font-family: "Lora", serif;
    font-size: 24px;
    font-weight: 600;
}

.bare p {
    font-family: "Poppins", sans-serif;
    font-size: 15px;
}

.vec1 {
    padding-top: 8em;
    margin-left: 15em;
}

.bare1 {
    padding-top: 20em;
}

.bare1 h3, h2, p {
    text-align: center;
}

.bare1 h3 {
    font-size: 10px;
}

.bare1 h2 {
    font-family: "Lora", serif;
    font-size: 24px;
    font-weight: 600;
}

.bare1 p {
    font-family: "Poppins", sans-serif;
    font-size: 15px;
}

.pledge {
    height: 185px;
    background-color: #E5E5E5;
}

.pledge h1 {
    font-family: "Poppins", sans-serif;
    font-size: 29px;
    display: grid;
    margin-left: 5.6em;
    padding-top: 1em;
}

.pledge h2 {
    font-family: "Poppins", sans-serif;
    font-size: 17px;
    color: #DBC48E;
    display: grid;
    float: left;
    padding-top: 1em;
    margin-left: 9em;
}

.pledge h3 {
    font-family: "Lora", sans-serif;
    font-size: 21px;
    display: grid;
    padding-top: 2em;
    float: left;
    margin-left: -12em;
}

.pledge button {
    height: 55px;
    width: 160px;
    background-color: #080839;
    color: white;
    float: right;
    margin-right: 10em;
}

.btn:hover {
    background-color: #E5E5E5;
    border: 2px solid #080839;
    color: #080839;
    transition: 0.2s ease-in;
}

.page-footer {
    background-color: #080839;
    height: 270px;
}

.con img {
    float: left;
    margin-left: 10em;
}


.news p {
    font-family: "Poppins", sans-serif;
    font-size: 20px;
    text-align: left;
    color: white;
}

.news button {
    margin-top: 1em;
    color: #080839;
    background-color: whitesmoke;
    width: 150px;
    height: 50px;
    font-family: 15px;
}

.contact h5 {
    text-align: right;
    font-family: "Poppins", sans-serif;
    color: whitesmoke;
}

.contact p {
    font-family: "Poppins", sans-serif;
    text-align: right;
    color: whitesmoke;
}

.text-center {
    text-align: center;
    color: white;
    margin-left: 10em;
}

strong {
    text-decoration: none;
    color: whitesmoke;
}


